<% title 'Your Awesome Learning adventure | YALA' %>
<h1>Yala</h1>
<h2>Create an online learning community for your organization.</h2>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to  "Create my learning community", new_communities_path %>
