$navbar-height: 120px;

.navbar {
  @apply px-4 py-10 flex;
  height: $navbar-height;
  background-color: #fbab7e;
  background-image: linear-gradient(180deg, #fbab7e 0%, #f7ce68 100%);
  .link {
    .active {
    }
  }
}
